<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>U Planner - Inicio de sesión</title>
  <link rel="stylesheet" href="../css/Home.css"/>
</head>
<body>
  <main class="login-container">
    <section class="login-box">

      <div class="login-header">
        <div class="logo-group">
          <img src="../../public/images/firma_universidad.png" alt="Universidad de Medellín" class="logo-universidad" />
          <img src="../../public/images/U PLANNER .png" alt="U Planner" class="logo-planner" />
        </div>
      </div>


      <form id="login-form" class="login-form" autocomplete="off">

        <div class="input-group">
          <label for="nombre">Nombre completo</label>
          <input type="text" id="nombre" name="nombre" placeholder="Juan Pérez" required />
        </div>

        <div class="input-group">
          <label for="email">Correo electrónico</label>
          <input type="email" id="email" name="email" placeholder="ejemplo@correo.edu.co" required />
        </div>

        <div class="input-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" name="password" placeholder="••••••••" required />
        </div>

        <div class="input-group">
          <label for="rol">Rol</label>
          <select id="rol" name="rol" required>
            <option value="estudiante">Estudiante</option>
            <option value="profesor">Profesor</option>
            </select>
        </div>

        <button type="submit" class="btn-login">Iniciar sesión</button>
      </form>

      <footer class="login-footer">
        <p>© 2025 U Planner. Todos los derechos reservados.</p>
      </footer>
    </section>
  </main>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  <img src="{{ url_for('static', filename='public/images/firma_universidad.png') }}" />
</body>
</html>