:root {
  --color-rojo-principal: #c0392b;
  --color-rojo-claro: #e74c3c;
  --color-blanco: #ffffff;
  --color-gris-claro: #f2f2f2;
  --color-texto: #2c3e50;
  --color-error: #e74c3c;
}
body {
  background-image: url("/public/images/fondo_login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Capa oscura para hacer contraste con el formulario (Pendiente mostrar fondo)*/
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* opacidad ajustable */
  z-index: 0;
}

/* Asegura que el formulario quede por encima del fondo */
.login-container {
  position: relative;
  z-index: 1;
}


.login-container {
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 10px;
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login-header {
  text-align: center;
  margin-bottom: 10px;
}

.logo-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.logo-universidad {
  height: 70px;
}

.logo-planner {
  height: 50px;
}

.login-form {
  background-color: var(--color-blanco);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--color-rojo-principal);
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--color-texto);
}

.input-group input,
.input-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: var(--color-gris-claro);
  font-size: 15px;
}

.input-group input:focus,
.input-group select:focus {
  outline: none;
  border-color: var(--color-rojo-claro);
}

.btn-login {
  background-color: var(--color-rojo-principal);
  color: var(--color-blanco);
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.btn-login:hover {
  transform: scale(1.03);
  background-color: var(--color-rojo-claro);
}

.login-footer {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  color: #777;
}

.app-info {
  display: block;
  margin-top: 5px;
  font-style: italic;
}

@media (max-width: 600px) {
  .login-container {
    width: 90%;
    padding: 20px;
  }

  .login-form {
    padding: 20px;
  }
}
